
/* Style for History */

.history {
	width: 75%;
	height: 320px;
	padding: 0 10px 20px;
	margin: 15px auto;
	border-top: 2px solid #111;
	border-bottom: 2px solid #111;
}

.title {
	margin: 10px 7px 5px;
}

.title span {
	display: inline-block;
	width: 33%;
	font-weight: bold;
}

.records {
	height: 90%;
	overflow: auto;
}

.records .placeholder {
	width: 80%;
	margin: 70px auto;
}

.records .record {
	margin: 10px 7px 0px;
}

.record span {
	display: inline-block;
	width: 33%;
}

.record:last-child {
	border: 1px solid #111;
	border-radius: 15px;
}

/* Customer Scroll Bar */
::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #111;
	width: 3px;
}